

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/*shared colour*/

.color-orange {
    color: #FD6E0A ;
}

.dark-2{
    color: #474747;
}

.btn-manytimes{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    border: none;
}   

/*header*/
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-color: #FFF8F3
}
/*nave style*/


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 20px;
    margin-right: 51px;
    
}


nav li a {
    text-decoration: none;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/*banner styles*/

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 150px;
}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
.banner-content{
    font-size: 18px;
    color: #757575;
    max-width: 585px;
}

.banner-image{
    width: 584px;
    height: 676px;
}
main{
    max-width: 1300px;
    margin: 0 auto;
}
.about{
    background-color: #FFF8F3
    border-radius: 10px;
    padding: 130px 140px;
    margin: 150px;
    text-align: center;
    
}

.about-title {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #181818;
}


.about-content{
    font-size: 20px;
    color: #757575;
}
.item-description{
    font-weight: bold;
    font-size: 20px;
    color: #474747;
}

.item-title{
    font-size: 20px;
    color: #757575;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.do-section{
    text-align: center;
    padding: 0 130px;
}

.skill-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: #FFF8F3;
   
}

.skill-title{
    font-weight: bold;
    font-size: 20px;
    color: #181818;
}

.skill-description{
    font-size: 16px;
    color: #757575;
    
    
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-bottom: 100px;
}